@use "sass:color";
@use "variables";

// rouded image
.img-round {
  overflow: hidden;
  text-indent: -1000px;
  border-radius: 1000px;
  border: variables.$lineWidth solid variables.$colorBright;
  background-color: color.adjust(variables.$colorDocumentDark, $lightness: 10%);
  background-image: linear-gradient(
    45deg,
    color.adjust(variables.$colorDocumentDark, $lightness: 10%),
    color.adjust(variables.$colorDocumentDark, $lightness: 25%)
  );
  box-shadow: variables.$shadowPaper;
}
.album-cover {
  overflow: hidden;
  height: 120px;
  width: 120px;
  text-indent: -1000px;
  border-radius: 0.4rem;
  background-color: color.adjust(variables.$colorDocumentDark, $lightness: 10%);
  background-image: linear-gradient(
    45deg,
    color.adjust(variables.$colorDocumentDark, $lightness: 10%),
    color.adjust(variables.$colorDocumentDark, $lightness: 25%)
  );
  box-shadow: variables.$shadowPaper;
}
.history-cover {
  overflow: hidden;
  height: 70px;
  width: 70px;
  text-indent: -1000px;
  border-radius: 0.2rem;
  background-color: color.adjust(variables.$colorDocumentDark, $lightness: 10%);
  background-image: linear-gradient(
    45deg,
    color.adjust(variables.$colorDocumentDark, $lightness: 10%),
    color.adjust(variables.$colorDocumentDark, $lightness: 25%)
  );
  box-shadow: variables.$shadowPaper;
}
// centered image
.img-center {
  display: block;
  margin: 0 auto;
}
